<ion-header class="header bg-dark" *ngIf="place">
  <ion-grid no-padding>
    <ion-row align-items-center>
      <ion-col>
        <img navPop src="https://png.icons8.com/back/ios7/20/ffffff" class="back">
      </ion-col>
      <ion-col>
        <p class="text-right text-white">{{place.name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-footer *ngIf="place">
<ion-grid class="footer-buttons-menu">
  <ion-row align-items-center>
    <ion-col *ngIf="place.international_phone_number" (click)="call(place.international_phone_number)">
      <img src="https://png.icons8.com/phone/ios7/25/ffffff">
      <p>call</p>
    </ion-col>
    <ion-col *ngIf="place.rating">
      <img src="https://png.icons8.com/star/ios7/25/ffffff">
      <p>{{place.rating}}</p>
    </ion-col>
    <ion-col *ngIf="place.website" (click)="web(place.website)">
      <img src="https://png.icons8.com/website/ios7/25/ffffff">
      <p>web</p>
    </ion-col>
    <ion-col *ngIf="place.opening_hours">
      <img *ngIf="place.opening_hours.open_now == false" src="https://png.icons8.com/door-hanger/ios7/25/ffffff">
      <img *ngIf="place.opening_hours.open_now == true" src="https://png.icons8.com/checked/ios7/25/ffffff">
      <p *ngIf="place.opening_hours.open_now == true">open now</p>
      <p *ngIf="place.opening_hours.open_now == false">close now</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>

<ion-content *ngIf="place">

<div class="full-height">

  <ion-slides pager *ngIf="place.photos">
    <ion-slide *ngFor="let photo of place.photos"
    [style.backgroundImage]="'url(' + 'https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=' + photo.photo_reference + '&key=AIzaSyAINTVkf45i_dLESF_CHluQ1zp8ISbofgg' + ')'" class="single-slider">
    </ion-slide>
  </ion-slides>

  <div class="p10 pt50">
    <h3>{{place.name}}</h3>
    <p>{{place.formatted_address}}</p>
    <p>{{place.international_phone_number}}</p>
  </div>

  <div class="p10 pb50" *ngIf="place.reviews">
    <h4>User reviews</h4>

    <ion-list no-lines>
      <ion-item *ngFor="let review of place.reviews" text-wrap>
        <ion-avatar item-start>
          <img src="{{review.profile_photo_url}}">
        </ion-avatar>
        <h2>{{review.author_name}}</h2>
        <p>{{review.text}}</p>
      </ion-item>
    </ion-list>
  </div>

</div>

</ion-content>
